.form-group {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--Marine-blue);
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

label span {
  font-weight: 700;
  font-size: 0.87rem;
  color: var(--Strawberry-red);
}

input {
  width: 100%;
  height: 3rem;
  border-radius: 8px;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--Marine-blue);
  border: 1px solid var(--Light-gray);
  font-family: inherit;
}

input.error {
  border-color: var(--Strawberry-red);
}

input::placeholder {
  font-size: 1rem;
  font-weight: 500;
  color: var(--Cool-gray);
}

.btn {
  display: block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: all 0.1s ease-in;
  border: none;
}

.btn-primary {
  padding: 0.94rem 1.5rem;
  color: var(--White);
  background-color: var(--Marine-blue);
}

.btn-confirm {
  padding: 0.94rem 1.5rem;
  color: var(--White);
  background-color: var(--Purplish-blue);
}

.btn-secondary {
  color: var(--Cool-gray);
  background-color: transparent;
}

.btn-primary:hover {
  background-color: var(--Marine-blue-hover);
}

.btn-confirm:hover {
  background-color: var(--Purplish-blue-hover);
}

.btn-secondary:hover {
  color: var(--Marine-blue);
}

.checkbox {
  display: inline-block;
  height: 1.25rem;
  width: 1.35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--Light-gray);
  border-radius: 4px;
}

.checkbox.checked {
  background-color: var(--Purplish-blue);
  border: none;
}

@media (max-width: 669px) {
  .btn {
    border-radius: 4px;
  }
}
